*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777;
  padding: 3rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.u-text-center {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  background-image: linear-gradient(to right, #2998ff, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewX(10deg) skewY(1deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-third {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: transform 0.2s;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover:after {
  transform: scaleX(1.4) scaleY(1.9);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white:after {
  background-color: #fff;
}
.btn--green {
  background-color: #7ed56f;
  color: #fff;
}
.btn--green:after {
  background-color: #7ed56f;
}
.btn:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s;
}
.btn--animated {
  animation-name: moveUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.25s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: transform 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row:not(:last-child) {
  margin-bottom: 2rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
.row .col-2-of-3 {
  width: calc(((100% - 6rem * 2) / 3) * 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}
.row .col-2-of-4 {
  width: calc(((100% - 18rem) / 4) * 2 + 6rem);
}
.row .col-3-of-4 {
  width: calc(((100% - 18rem) / 4) * 3 + 12rem);
}

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
}
.header__top-logo {
  height: 3.5rem;
}
.header__top-menu {
  height: 4rem;
}
.header__content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.header__heading-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}
.header__heading-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.exciting {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -20vh;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.album {
  position: relative;
  background-color: green;
}
.album__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: transform 0.2s;
  outline-offset: 2rem;
}
.album__photo--p1 {
  left: 0;
  top: -2rem;
}
.album__photo--p2 {
  right: 0;
  top: 2rem;
}
.album__photo--p3 {
  left: 20%;
  top: 10rem;
}
.album__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  z-index: 11;
  outline: 1.5rem solid #55c57a;
}
.album:hover .album__photo:not(:hover) {
  transform: scale(0.95);
}

.features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg);
}
.features > * {
  transform: skewY(7deg);
}
.features__info {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 25px;
  min-height: 300px;
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
.features__info:hover {
  transform: translateY(-1rem) scale(1.03);
}
.features__icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 3rem;
}

.tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem;
  margin-top: -10rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 50rem;
}
.card__side {
  transition: transform 0.8s;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  height: 50rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__img {
  background-size: cover;
  background-position: center;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__img--1 {
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__info {
  text-align: center;
  padding: 3rem;
}
.card__info-text {
  padding: 1rem;
  font-size: 1.5rem;
}
.card__info-text:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/*# sourceMappingURL=style.css.map */
