//-----------------  Variable -----------------//
// Color
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-third-light: #2998ff;
$color-third-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-dark: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$col-space: 6rem;

//----------------- Media query manager -----------------//
/* 
0 - 600px:      Phone
600 - 900px:    Tablet protrait
900 - 1200p:    Tablet landscape
[1200 - 1800] is where our normal style apply
1800px +:       Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px 
*/

@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      // width > 1800px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      // width < 1200px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      // width < 900px
      @content;
    }
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // width < 600px
      @content;
    }
  }
}

//----------------- Base Reset-----------------//
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  // @include respond(phone) {
  //   font-size: 50%;
  // }
}

//----------------- Basic Styling -----------------//
body {
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $color-grey-dark;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0rem;
  }
}

.container {
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-port) {
    padding: 0 3rem;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

//----------------- Utility Classes -----------------//
.u-text-center {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

.u-margin-top-huge {
  margin-top: 10rem;
}

//----------------- Reusable Element -----------------//
.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  // margin-bottom: 3rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skewX(10deg) skewY(1deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-dark, 0.2);
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-third {
  text-transform: uppercase;
  font-size: $default-font-size;
  font-weight: 700;
}

.btn {
  &, // ***** móa nó tại sao tại chỗ này mà nó lại thêm cái background ngay tại header
  //  vì cái button ngay chỗ form button k có psudeo link, visited
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    // change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-dark, 0.2);
    // when we hover to a btn class then we want some certain styles for the after psuedo element
    &:after {
      transform: scaleX(1.4) scaleY(1.9);
      opacity: 0;
      //when we hover i want opacity from 1 to 0 in 4s and be bigger at the same time
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0px 0.5rem 1rem rgba($color-dark, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &:after {
      background-color: #fff;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &:after {
      background-color: $color-primary;
      // hehe tai sao cho nay lai lam header bi nhu vay
      // tại vì button k có link and visited
    }
  }

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation-name: moveUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    // with animation-fill-mode this animate will apply style from zero before animation start
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    font-weight: 700;
    transition: transform 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-dark, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.15);
    transform: translateY(0);
  }
}

//----------------- Custom Responsive Gird with FlexBox -----------------//
.row {
  max-width: $grid-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  // &:not(:last-child) {
  //   margin-bottom: 8rem;
  // }

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50rem;
    padding: 0 3px;
  }

  @include respond(phone) {
    max-width: 40rem;
  }

  // select all class have col in class="row"
  [class^="col"] {
    @include respond(tab-port) {
      width: 100% !important;

      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }
  }

  .col-1-of-2 {
    // width: 48.68%;
    width: calc((100% - #{$col-space}) / 2);
  }

  .col-1-of-3 {
    // width: 31.58%;
    width: calc((100% - #{$col-space} * 2) / 3);
  }

  .col-2-of-3 {
    // tai sao tinh theo cach nay lai hut 10px nhi?
    // width: calc(((100% - #{$col-space}) / 3) * 2);
    width: calc(((100% - #{$col-space} * 2) / 3) * 2 + #{$col-space});
  }

  .col-1-of-4 {
    // width of 1 col
    width: calc((100% - #{$col-space * 3}) / 4);
  }

  .col-2-of-4 {
    // width of 2 col + space. Nhin vao UI se hieu tai sao nhu vay
    width: calc(((100% - #{$col-space * 3}) / 4) * 2 + #{$col-space});
  }

  .col-3-of-4 {
    width: calc(((100% - #{$col-space * 3}) / 4) * 3 + #{$col-space * 2});
  }
}

//----------------- Header -----------------//
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg");
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem;

    &-logo {
      height: 3.5rem;
    }

    &-menu {
      height: 4rem;
    }
  }

  &__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__heading {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &-main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-timing-function: ease-in-out;

      @include respond(phone) {
        font-size: 5rem;
        letter-spacing: 1.5rem;
      }
    }

    &-sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-timing-function: ease-in-out;

      @include respond(phone) {
        font-size: 2rem;
        letter-spacing: 0.4rem;
        font-weight: 400;
      }
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

//----------------- Exciting -----------------//
.exciting {
  padding: 25rem 0;
  background-color: $color-grey-light-1;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.album {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.4);
    position: absolute;
    z-index: 10;
    transition: transform 0.2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      position: relative;
      float: left; // đôi lúc cũng phải dùng float thôi
      width: 33.33333%;
      box-shadow: 0 1.5rem 3rem rgba($color-dark, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
      }
    }
    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.1);
        z-index: 20;
      }
    }
    &--p3 {
      left: 20%;
      // bottom: 0; khong hoat dong dung nhu no dc dinh nghia nhi?
      top: 10rem;

      @include respond(tab-port) {
        top: 0rem;
        left: 0;
      }
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 11;
      outline: 1.5rem solid $color-primary;

      // on the touch the device this not happen anyway we can ignore this
      @include respond(tab-port) {
        transform: scale(1.2);
      }
    }
  }
  // ma no cho nay hai nao
  // nhung co the hieu la nhu the nay: khi hover vao thang cha chua ba cai image do, chung ta muon thang image nao khong duoc hover thi no se nho lai
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

//----------------- Information -----------------//
.features {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg);

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  & > * {
    transform: skewY(7deg);
  }

  &__info {
    background-color: rgba($color-white, 0.8);
    text-align: center;
    padding: 25px;
    min-height: 30rem;
    font-size: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.2);
    //dm tam thoi de vay thoi chu sao gio, vi k biet cach de cho no tu gian item ra cho bang nhau
    // hehe min hieght cung la 1 cach kha hop lay day chu
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-1rem) scale(1.03);
    }

    @include respond(tab-port) {
      min-height: 20rem;
    }
  }

  &__icon {
    font-size: 6rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    // kha la ngo kk
    // background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 3rem;

    @include respond(tab-port) {
      font-size: 5rem;
      margin-bottom: 1.5rem;
    }
  }
}

//----------------- Tours -----------------//
.tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem;
  }
}

.card {
  // Functionality style
  perspective: 150rem;
  -moz-perspective: 100rem;
  // box-shadow: 0 1rem 3rem rgba($color-dark, 0.2);
  // hehe tai cai nay ma no tao ra hieu ung kha ngo
  position: relative;
  height: 50rem;

  &__side {
    transition: transform 0.8s;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    height: 50rem;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba($color-dark, 0.2);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to bottom right,
          $color-third-light,
          $color-third-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Front side style
  &__img {
    background-size: cover;
    background-position: center;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-third-light,
          $color-third-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    position: absolute;
    text-align: right;
    right: 2rem;
    top: 12rem;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300;
    color: $color-white;
    width: 75%;

    &-span {
      padding: 1rem 1.5rem;
      box-decoration-break: break;
      -webkit-box-decoration-break: clone;
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.85),
          rgba($color-primary-dark, 0.85)
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-third-light, 0.85),
          rgba($color-third-dark, 0.85)
        );
      }
    }
  }

  &__info {
    text-align: center;
    padding: 3rem 5rem 3rem;

    &-text {
      padding: 1rem;
      font-size: 1.5rem;
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }
  }

  // Back side style
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  // Styling card for mobie, tablet
  // @include respond(tab-port) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;

    &__info {
      padding: 1rem 3rem;
    }

    &__side {
      position: relative;
      box-shadow: none;
      height: auto;
      border-radius: 0;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    // Back side style
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}

//----------------- Story -----------------//
.story {
  padding: 15rem 0;
  background-color: $color-grey-light-1;
  background-image: linear-gradient(
      rgba($color-white, 0.8),
      rgba($color-white, 0.8)
    ),
    url("../img/nat-6.jpg");
  background-size: cover;
  background-position: center;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.comments {
  // mot cach lam khac voi flexBox tuy nhien se content se k wrap around the element
  // display: flex;
  // justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  background-color: $color-white;
  transform: skewX(-12deg);

  // cant use this b/c transform only 1 apply 1, and use this only work for text not  shape because of tranlate had applied
  // & > * {
  //   transform: skew(7deg);
  // }

  &:not(:last-child) {
    margin-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem;
    width: 100%;
    transform: skewX(0);
  }

  &__shape {
    // width: 20%;
    width: 15rem;
    height: 15rem;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    // only work with floated element & element had defined demensions (width & heigth)
    shape-outside: circle(50% at 50% 50%);
    float: left;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    // border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform 0.4s;

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    font-size: 1.7rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
  &__text {
    text-align: left;
    transform: skewX(12deg);

    // hehe do khuc tren thang cha no -12 nen muon tro lai nhu cu thi thang con phai + 12

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  // means when i hover to this comment i want to modified this caption
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}

//----------------- Booking -----------------//

.booking {
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  // background-image only set only value at a time
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;

  // Short hand css
  // một cách làm khác mà không cần dùng clip-path trong trường hợp này
  background: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg) center center/cover no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.15);

  @include respond(tab-land) {
    background: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg) center center/cover no-repeat;
  }

  @include respond(phone) {
    background: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 0%,
        rgba($color-white, 0.8) 100%,
        transparent 100%
      ),
      url(../img/nat-10.jpg) center center/cover no-repeat;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 75%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  // Dùng clip path
  // &__form {
  //   background-color: rgb($color-white, 0.8);
  //   width: 50%;
  //   height: 50rem;
  //   // -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 100%, 100% 100%);
  //   clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  //   // (x y, x y, x y, x y)
  //   text-transform: uppercase;
  // }
}

.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: rgba($color-white, 0.7);
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-dark, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    //hehe mấy các class cùi mía này hiện giờ không cần phải nhớ kk
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  //hehe mấy các class cùi mía này hiện giờ không cần phải nhớ kk
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

//----------------- Footer -----------------//
.footer {
  padding: 10rem 0;
  background: #333;
  font-size: 1.4rem;
  color: #f7f7f7;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 5rem;
    }

    &-img {
      display: inline-block;
      // hehe for text-align to work
      width: 15rem;
      height: auto;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
    text-transform: uppercase;
    padding-top: 2rem;
    border-top: 1px solid #777;

    @include respond(tab-port) {
      margin-right: 0;
      width: 100%;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      background-color: #333;
      display: inline-block;
      // Hehe without inline-block here transform will not apply
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      transform: rotate(5deg) scale(1.2);
      box-shadow: 0 1rem 2rem rgba($color-dark, 0.4);
    }
  }

  &__copyright {
    width: 80%;
    margin-left: auto;
    // behave same as float to the left
    font-size: 1.6rem;
    padding-top: 2rem;
    border-top: 1px solid #777;

    @include respond(tab-port) {
      margin-left: 0;
      width: 100%;
    }
  }
}
